@import '../styles/_variables.scss';

.infoList ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.infoList ul li {
	margin-bottom: 10px;
}

.infoList .title {
	color: $primary-color;
	margin-right: 5px;
	font-weight: 600;
}

.infoBlockWIcon {
	margin-bottom: 25px;
	ul {
		margin-bottom: 10px;
	}
	li {
		margin-left: 40px;
		font-size: 0.95em;
	}
}

.infoBlockWIcon .ciText h4 {
	margin: 5px 0;
}

.infoBlockWIcon .ciText p {
	font-size: 0.95em;
}

.infoBlockWIcon .ciIcon {
	display: table-cell;
	width: 54px;
	padding-right: 25px;
}

.infoBlockWIcon i {
	position: relative;
	font-size: 42px;
	color: $primary-color;
	opacity: 0.7;
}

@media only screen and (max-width: 768px) {
	.infoList {
		margin-top: 20px;
	}
}
