@import '../styles/_variables.scss';
.titleBlock {
	position: relative;
	text-align: center;
	img {
		margin: auto;
	}
}

.titleBlock h2 {
	color: $text-color;
	font-size: 60px;
	line-height: 74px;
	margin: 0;
	text-align: center;
}

.titleBlock .spSubtitle {
	color: $text-color;
	font-size: 21px;
	font-weight: 300;
	margin: 5px 0;
	text-align: center;
}

@media only screen and (max-width: 1024px) {
	.titleBlock h2 {
		font-size: 48px;
		line-height: 56px;
		margin: 0 0 10px;
		text-align: center;
	}

	.titleBlock .spSubtitle {
		font-size: 18px;
	}
}
