@import '../../styles/_variables.scss';

.wrapper {
	background: $background-color;
	border-radius: 5px;
	padding: 15px;
	.portfolioItemHeader {
		padding: 10px;
		background: $background-color-dark;
		i {
			color: $primary-color;
			opacity: 100;
			font-size: 24px;
			position: relative;
			float: right;
			top: 0;
			right: 0;
		}
		.name {
			padding: 0;
		}
	}
	a {
		position: relative;
	}
	p {
		margin: 10px;
	}
}

@media screen and (max-width: 480px) {
	.portfolioItemHeader {
		overflow-x: scroll;
	}
	.portfolioItemHeader a {
		font-size: 13px;
	}
}
