@import url('./fonts/linear-icons-font/style.css');
@import url('https://fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i');
@import './theme/reset.css';
@import './theme/bootstrap-grid.min.css';
@import './theme/animations.css';
@import './theme/perfect-scrollbar.css';
@import './theme/owl.carousel.css';
@import './theme/magnific-popup.css';
@import './variables';

html,
#__next {
	margin: 0;
	width: 100%;
	height: 100%;
	min-height: 100%;
	overflow: hidden;
}

body,
#__next {
	background-color: $background-color;
	margin: 0;
	width: 100%;
	height: 100%;
	min-height: 100%;
	font-size: 15px;
	font-family: 'Poppins', Helvetica, sans-serif;
	line-height: 1.65em;
	overflow: hidden;
	color: $text-color;
	background-repeat: no-repeat;
	background-position: center;
	background-position: 50% 50%;
	background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $text-color;
	font-family: 'Poppins', Helvetica, sans-serif;
	font-weight: 600;
}

h1 {
	font-size: 32px;
}
h2 {
	font-size: 27px;
}
h3 {
	font-size: 21px;
}
h4 {
	font-size: 18px;
}
h5 {
	font-size: 16px;
}
h6 {
	font-size: 14px;
}

a {
	color: $primary-color;
	text-decoration: none;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

p {
	margin-bottom: 10px;
}

.clearfix:before,
.clearfix:after {
	content: ' ';
	display: table;
}

.clearfix:after {
	clear: both;
}
.btn-primary,
.btn-secondary,
button,
input[type='button'],
input[type='submit'],
.wp-block-button .wp-block-button__link {
	display: inline-block;
	position: relative;
	padding: 0.8em 2.1em;
	margin-bottom: 0.75em;
	margin-right: 0.25em;
	font-size: 1em;
	line-height: 1.2;
	border: 0;
	outline: 0;
	border: 2px solid $primary-color;
	color: $text-color;
	text-shadow: none;
	background-color: transparent;
	border-radius: 30px;
	font-family: 'Poppins', Helvetica, sans-serif;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	box-shadow: 0px 10px 10px -8px rgba(0, 0, 0, 0.3);
}

.btn-primary:last-child,
.btn-secondary:last-child,
button:last-child,
input[type='button']:last-child,
input[type='submit']:last-child,
.wp-block-button .wp-block-button__link:last-child {
	margin-right: 0;
}

.btn-primary:hover,
.btn-primary:focus,
button:hover,
button:focus,
input[type='button']:hover,
input[type='button']:focus,
input[type='submit']:hover,
input[type='submit']:focus {
	background-color: $primary-color;
	color: $white;
	border: 2px solid $primary-color;
}

.btn-secondary {
	border-color: $text-color;
	background-color: transparent;
	box-shadow: 0px 10px 10px -8px rgba(0, 0, 0, 0.3);
	color: $text-color;
}

.btn-secondary:hover,
.btn-secondary:focus {
	color: $background-color;
	border-color: $text-color;
	background-color: $text-color;
}

.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.block-title {
	display: inline-block;
	position: relative;
	padding-right: 12px;
	padding-bottom: 10px;
	margin-bottom: 15px;
}

.block-title h3 {
	position: relative;
	font-size: 21px;
	z-index: 1;
}

.block-title h3 span {
	color: $primary-color;
}

.block-title:after {
	position: absolute;
	opacity: 0.45;
	top: 10px;
	right: 0;
	content: '';
	height: 20px;
	width: 30px;
	background-image: -webkit-repeating-radial-gradient(
		center center,
		$primary-color,
		$primary-color 1px,
		transparent 0px,
		transparent 100%
	);
	background-image: -moz-repeating-radial-gradient(
		center center,
		$primary-color,
		$primary-color 1px,
		transparent 0px,
		transparent 100%
	);
	background-image: -ms-repeating-radial-gradient(
		center center,
		$primary-color,
		$primary-color 1px,
		transparent 0px,
		transparent 100%
	);
	-webkit-background-size: 6px 6px;
	-moz-background-size: 6px 6px;
	background-size: 6px 6px;
	z-index: 0;
}

.white-space-10 {
	padding-bottom: 10px;
}

.white-space-20 {
	padding-bottom: 20px;
}

.white-space-30 {
	padding-bottom: 30px;
}

.white-space-40 {
	padding-bottom: 40px;
}

.white-space-50 {
	padding-bottom: 50px;
}

.white-space-60 {
	padding-bottom: 60px;
}

.white-space-70 {
	padding-bottom: 70px;
}
.controls.two-columns .left-column {
	width: 47%;
	float: left;
	margin-right: 3%;
}

.controls.two-columns .right-column {
	width: 50%;
	float: right;
}

.g-recaptcha {
	margin-bottom: 20px;
}

@media screen and (max-width: 480px) {
	.controls.two-columns .right-column,
	.controls.two-columns .left-column {
		float: none;
		margin: 0;
		width: 100%;
	}
}
.form-group {
	position: relative;
	margin: 0 0 21.5px;
}
.form-control,
.form-control:focus {
	height: 42px;
}

.form-control,
.form-control:focus,
.has-error .form-control,
.has-error .form-control:focus,
input[type='search'],
input[type='password'],
input[type='text'] {
	position: relative;
	border: 2px solid $text-color;
	border-radius: 5px;
	display: block;
	font-size: 1em;
	line-height: 1.4;
	margin: 0;
	padding: 10px 25px 10px 12px;
	width: 100%;
	background: 0 0;
	background-color: transparent;
	text-align: left;
	color: inherit;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	outline: none;
	font-family: 'Poppins', Helvetica, sans-serif;
	box-shadow: 0px 10px 10px -8px rgba(0, 0, 0, 0.1);
}

textarea.form-control,
textarea.form-control:focus {
	height: auto;
}

.form-control ~ .form-control-border {
	content: '';
	position: absolute;
	z-index: -1;
	left: 0;
	right: 100%;
	bottom: 0;
	border-radius: 5px;
	top: 0;
	opacity: 0;
	background: transparent;
	border: 2px solid $primary-color;
	border-right-width: 0;
	height: 100%;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.form-control:focus ~ .form-control-border {
	left: 0;
	right: 0;
	height: 100%;
	z-index: 1;
	opacity: 1;
	border-right-width: 2px;
}

.has-error .form-control ~ .form-control-border {
	border-color: #ff4c4c;
}
